* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-image:url("../res/img/tlo.jpg");
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

#btn {
  width: 280px;  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  /*data-style: round;*/
  /*border: #000000;
  border-style: solid;
  border-width: 5px;*/
  font-family:"Times New Roman", Times, serif;
  font-size: 18px;
  background-color:#d6d6d6;
  color:black;	
}

.ui-title {
	color:#ffffff;
	font-size: 24px;
	white-space: nowrap;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 75px;
	padding-left: 16px;
	padding-right: 16px;
}